.App {
  text-align: center;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}
.gallery:hover {
  border: 1px solid #777;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}
.fileInput{
  padding-top: 50%;
}